body {
    text-align: center;
}
@font-face {
    font-family: 'Alte Haas Grotesk';
    src: url("15320.otf");
}
#game {
    width: 300px;
    height: 300px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;

}
.block {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    font-size: 60px;
    font-family: "Alte Haas Grotesk";
    line-height: 100px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    z-index: 1;
}
#reset{
    width: 200px;
    padding:20px 10px;
    border: 1px solid rgba(24, 36, 16, 0.42);
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    background-color: #86dcdd;

}
#whomoves {
    font-size: 30px;
    font-weight: bold;

}
.line {
    width: 280px;
    height: 5px;
    background-color: #000;
    position: absolute;
    z-index: 2;
    display: none;
}
#firstHorizontalLine {
    top: 46px;
    left: 10px;
}
#secondHorizontalLine {
    top: 146px;
    left: 10px;
}
#thirdHorizontalLine {
    top: 246px;
    left: 10px;
}
#firstVerticalLine {
    top: 146px;
    left: -90px;
    transform: rotate(90deg);
}
#secondVerticalLine {
    top: 146px;
    left: 10px;
    transform: rotate(90deg);
}
#thirdVerticalLine {
    top: 146px;
    left: 110px;
    transform: rotate(90deg);
}
#firstDiagonalLine {
    width: 330px;
    top: 150px;
    left: -10px;
    transform: rotate(45deg) scaleX(1.1);
}
#secondDiagonalLine {
    width: 330px;
    top: 150px;
    left: -18px;
    transform: rotate(-45deg) scaleX(1.1);
}